
@model List<COF.UserWeb.Models.ShoppingCartViewModel>
@{

    var allDatas = Model;
    allDatas = allDatas != null ? allDatas : new List<COF.UserWeb.Models.ShoppingCartViewModel>();
    allDatas = allDatas.OrderBy(x => x.Product).ThenBy(x => x.Size.Size).ToList();

}

<div class="modal-content" >
    <div class="modal-head" style="width:1000px" >
        <h3 id="CartDetailLabel">Giỏ hàng</h3> 
        <a  class="close-modal btn"><img src="asset/img/close.svg"></a>
    </div>
   
    <div class="modal-body">
        
        <div class="order-box">


            @{
                var total = allDatas.Sum(x => x.Price * x.Quantity).ToString("N0");
                foreach (var item in allDatas)
                {


                    <ul class="order-prod">
                        <li class="order-info order-figure">
                            <figure class="prod-img" style="background-image:
                                    url('@item.ImageUrl')"></figure>
                        </li>
                        <li class="order-info title">
                            <p class="info-title">
                                Tên sản phẩm
                            </p>
                            <p class="prod-title" style="overflow-wrap: break-word; width:200px">@item.Product</p>
                            <p class="prod-price">@item.Price.ToString("N0")</p>
                        </li>
                        <li class="order-info">
                            <p class="info-title">
                                SL
                            </p>
                            <p class="info-value">
                                <input type="number" class="qty-input" data-productid="@item.ProductId" data-sizeid="@item.Size.SizeId" value="@item.Quantity">
                            </p>
                        </li>
                        <li class="order-info">
                            <p class="info-title">
                                Giá
                            </p>
                            <p class="info-value">29.000đ</p>
                        </li>
                        <li class="order-info">
                            <p class="info-title helper"></p>
                            <p class="info-value">
                                <a class="btn-flat btnRemoveItem" data-sizeid="@item.Size.SizeId"  data-productid="@item.ProductId"  >Xóa</a>
                            </p>
                        </li>
                    </ul>
                }
                <div class="order-total">
                    <label>Tổng tiền</label>
                    <span class="value" id="total">@total</span>
                </div>
            }


        </div>
    </div>
    <!-- <div class="modal-footer">
        <a class="close-modal btn-primary">Đóng</a>
    </div> -->

</div>
<script>
    $('.qty-input').off('keyup').on('keyup', function () {
        var value = $(this).val();
        var productId = $(this).data('productid');
        var size = $(this).data('sizeid');
        var s = "";
        if (value) {
            $.ajax({
                url: '/Cart/UpdateCart',
                type: 'post',
                data: { productId: productId, size: size, quantity: value },
                success: function (res) {
                    if (res.Status) {
                        var data = res.Data;
                        $('#' + productId + "_" + size).text(data.UnitTotalPrice);
                        $('#total').html( data.Total);
                    }
                    else {

                    }
                }

            })
        }




    });
    $('.btnRemoveItem').off('click').on('click', function () {
        var productId = $(this).data('productid');
        var size = $(this).data('sizeid');
        $.ajax({
            url: '/Cart/RemoveFromCart',
            type: 'post',
            data: { productId: productId, size: size },
            success: function (res) {
                toastr.success("Xóa sản phẩm thành công.")
                baseController.loadCartDetail();
                baseController.loadHeaderCart();
            }

        })
    });

    $('#btn-checkout').off('click').on('click', function () {
        $('#customerInfo').show();
        $('#cart-table').hide();
    });

</script>