
<script>
    function loadPrice(id,size, price) {
        $('#_price_product_' + id).text(price);
        $('.price-product-' + id).removeClass('isSelected');
        $('#price-product-' + id + '-' + size).addClass('isSelected');
        $('#btn-add-price-product-' + id).val(size);
    }
</script>
<style>
    .coffeeSize.isSelected {
        color: #0d72b9 !important;
        border-color: #0d72b9 !important;
    }
</style>
@model List<COF.BusinessLogic.Models.Product.ProductByCategoryModel>
<section id="menu-section" class="menu-section">
    <div class="container">
        <div class="menu-box">
            <div class="section-title">
                <!-- <h1>Menu</h1> -->
                <img class="logo-vector"
                     src="~/asset/img/cof-full.svg" />
            </div>
            <div class="section-content">
                <div class="menu-tabs tabs">
                    <ul class="tabs-wrapper">
                        @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                var category = Model[i];

                                if (i == 0)
                                {
                                    <li class="item active" tab-target="#tab_@category.CategoryId">
                                        @category.Name
                                    </li>
                                }
                                else
                                {
                                    <li class="item" tab-target="#tab_@category.CategoryId">
                                        @category.Name
                                    </li>
                                }

                            }

                        }
                    </ul>
                </div>

                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        var category = Model[i];
                        var hide = i == 0 ? "" : "hide";
                        var imageConfigure = category.Products.Count >= 7 ? "large" : "small-figure";
                        <div id="tab_@category.CategoryId" class="menu-list coffee-list tab-content">

                            <div class="menu-figure @imageConfigure">
                                <img src="@category.Image" />
                            </div>
                            <div class="flex-box">
                                @{
                                        var count = 1;
                                        foreach (var item in category.Products)
                                        {
                                            var position = count % 2 == 0 ? "right" : "left";
                                            count++;
                                        <div class="menu-item-wrapper">
                                            <div class="menu-item">
                                                <figure class="item-img"
                                                        style="background-image:
                                            url('@item.Image')"></figure>
                                                <div class="item-info">
                                                    <p class="name">@item.Name.ToLower()</p>

                                                    @{
                                                        var allSizes = @item.Sizes.OrderBy(x => x.Cost).ToList();
                                                        var sizes = String.Join(" | ", allSizes.Select(x => x.Size).ToList());
                                                        var allPrices = string.Join(" | ", allSizes.Select(x => String.Format("{0:C}", x.Cost).Replace("$", "").Replace(".00", "")).ToList());
                                                    }
                                                    <p>

                                                        <ul class="pagination @position">

                                                            @{
                                                                for (int index = 0; index < allSizes.Count; index++)
                                                                {
                                                                    var status = index == 0 ? "isSelected" : "";
                                                                    <li style="" class="page size coffeeSize @status price-product-@item.Id" id="price-product-@item.Id-@allSizes[index].SizeId" data-id="@item.Id" onclick="loadPrice(@item.Id, '@allSizes[index].SizeId', '@allSizes[index].Cost.ToString("N0")')">
                                                                        @allSizes[index].Size
                                                                    </li>
                                                                }
                                                            }

                                                        </ul>

                                                    </p>

                                                    <p class="price" id="_price_product_@item.Id">@allSizes[0].Cost.ToString("N0")</p>
                                                    @{
                                                        var sizeId = item.Sizes.FirstOrDefault().SizeId;

                                                    }

                                                    <a class="atc-btn btn-secondary add-to-cart-hoang" id="btn-add-price-product-@item.Id" data-id="@item.Id" value="@sizeId">
                                                        Thêm
                                                        vào giỏ
                                                    </a>
                                                    <script>
                                                        loadPrice('@item.Id', '@sizeId');
                                                    </script>
                                                </div>
                                            </div>
                                        </div>

                                        }
                                                       
                                }

                            </div>
                        </div>
                                                        }

                }

            </div>
        </div>

    </div>
</section>



