
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var allShops = TempData["Shops"] as List<COF.BusinessLogic.Models.Shop.ShopModel>;
}

<script type="text/javascript">
    var allShop = JSON.parse('@Html.Raw(Json.Encode(allShops))');
</script>


@model List<COF.BusinessLogic.Models.Product.ProductByCategoryModel>
<section class="content-header">
    <h1>
        Quản lí sản phẩm

    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> </a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
        </ol>*@
</section>

<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">
                    <div id="tableContent" class="box-body table-responsive">

                        <div class="nav-tabs-custom">


                            <ul class="nav nav-tabs">
                                @{
                                    for (int i = 0; i < allShops.Count; i++)
                                    {
                                        var shop = allShops[i];
                                        if (i == 0)
                                        {
                                            <li class="active"><a href="#tab_@shop.Id" data-id="@shop.Id" class="shop-tab" data-toggle="tab" aria-expanded="true">@shop.Name</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#tab_@shop.Id" data-toggle="tab" data-id="@shop.Id" class="shop-tab" aria-expanded="true">@shop.Name</a></li>
                                        }
                                    }
                                }
                            </ul>



                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>

                        <div>
                            <button id="btnAdd" class="btn btn-success">Thêm sản phẩm</button>
                            <br />
                            <br />
                        </div>
                        <table class="table table-bordered">
                            <tbody id="tblData"></tbody>
                        </table>

                    </div>
                    @{
                        Html.RenderPartial("_PartialCreateUpdateProduct");
                    }
                </div>
                <!-- ./box-body -->

            </div>


        </div>
    </div>
</section>

<script src="~/Scripts/app/product/product.js"></script>