
@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var allShops = TempData["Shops"] as List<COF.BusinessLogic.Models.Shop.ShopModel>;
    var isAdmin = TempData["IsPartnerAdmin"] as bool?;
}
<script type="text/javascript">
    var allShop = JSON.parse('@Html.Raw(Json.Encode(allShops))');
     var isAdmin = '@isAdmin.Value';

</script>

<section class="content-header">
    <h1>
        Quản lí danh mục sản phẩm

    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> </a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
        </ol>*@
</section>

<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">
                    <div id="tableContent" class="box-body table-responsive">

                        <div class="nav-tabs-custom">


                            <ul class="nav nav-tabs">
                                @{
                                    for (int i = 0; i < allShops.Count; i++)
                                    {
                                        var shop = allShops[i];
                                        if (i == 0)
                                        {
                                            <li class="active"><a href="#tab_@shop.Id" data-id="@shop.Id" class="shop-tab" data-toggle="tab" aria-expanded="true">@shop.Name</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#tab_@shop.Id" data-toggle="tab" data-id="@shop.Id" class="shop-tab" aria-expanded="true">@shop.Name</a></li>
                                        }
                                    }
                                }
                            </ul>



                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>

                        <div>

                            <div style="background-color:white" class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search well well-sm fillter searchForm">

                                <div class="form-row col-md-12" style="margin-top:15px">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-group">
                                            <input name="search" id="txtKeySearch" placeholder="Nhập từ khóa ..." class="form-control ui-autocomplete-input" value="" autocomplete="off">
                                        </div>

                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="form-group">
                                            <button class="btn btn-success" id="btnSearch" type="button"><i class="fa fa-search"></i>Lọc</button>
                                            &nbsp;
                                            <button id="btnResetFilter" type="button" class="btn btn-default ng-binding"><i class="fa fa-remove"></i>Bỏ lọc</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @{
                                if (isAdmin.Value)
                                {
                                    <button id="btnAdd" class="btn bg-purple margin">Thêm danh mục</button>
                                }
                            }

                            <br />
                            <br />
                        </div>
                        <table class="table table-bordered">
                            <tbody id="tblData"></tbody>
                        </table>

                    </div>
                    @{
                        Html.RenderPartial("_PartialCreateUpdateCategory");
                    }
                </div>
                <!-- ./box-body -->

            </div>


        </div>
    </div>
</section>

<script src="~/Scripts/app/category/category.js"></script>
