@{
    ViewBag.Title = "Danh mục nguyên liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var allShops = TempData["Shops"] as List<COF.BusinessLogic.Models.Shop.ShopModel>;
}
<script type="text/javascript">
    var allShop = JSON.parse('@Html.Raw(Json.Encode(allShops))');
</script>

<section class="content-header">
    <h1>
        Quản lí xuất nhập tồn kho

    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> </a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
        </ol>*@
</section>

<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">
                    <div id="tableContent" class="box-body table-responsive">

                        <div class="nav-tabs-custom">


                            <ul class="nav nav-tabs">
                                @{
                                    for (int i = 0; i < allShops.Count; i++)
                                    {
                                        var shop = allShops[i];
                                        if (i == 0)
                                        {
                                            <li class="active"><a href="#tab_@shop.Id" data-id="@shop.Id" class="shop-tab" data-toggle="tab" aria-expanded="true">@shop.Name</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#tab_@shop.Id" data-toggle="tab" data-id="@shop.Id" class="shop-tab" aria-expanded="true">@shop.Name</a></li>
                                        }
                                    }
                                }
                            </ul>

                            <div class="nav-tabs-custom">


                                <ul class="nav nav-tabs">
                                    <li class="active"><a id="navTodayReport" data-toggle="tab" aria-expanded="true">Thống kê trong ngày</a></li>


                                    <li><a id="navRmList" data-toggle="tab" data-id="" aria-expanded="true">Quản lí tồn kho</a></li>
                                </ul>


                            </div>

                           
                            <!-- /.tab-content -->
                        </div>

                        <div>


                            <div style="background-color:white" id="todayReport">
                                <table class="table table-responsive">
                                    <thead style="background-color:#ddd;text-align:center;vertical-align: middle;">
                                        <tr>
                                            <td><b>Nguyên liệu</b></td>
                                            <td><b>Đầu ngày</b></td>
                                            <td><b>Hiện tại</b></td>
                                            <td><b>Đã sử dụng</b></td>
                                            <td><b>Tổng số bill</b></td>
                                            <td><b>Xem chi tiết</b></td>
                                        </tr>
                                    </thead>
                                    <tbody id="tblTodayReport">

                                    </tbody>
                                </table>
                            </div>
                            <div id="rmList" hidden>
                                <div id="" style="background-color:white" class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search well well-sm fillter searchForm">

                                    <div class="form-row col-md-12" style="margin-top:15px">
                                        <div class="col-md-3 col-xs-12">
                                            <div class="form-group">
                                                <input name="search" id="txtKeySearch" placeholder="Nhập từ khóa ..." class="form-control" value="" autocomplete="off">
                                            </div>

                                        </div>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="form-group">
                                                <button class="btn btn-success" id="btnSearch" type="button"><i class="fa fa-search"></i>Lọc</button>
                                                &nbsp;
                                                <button id="btnResetFilter" type="button" class="btn btn-default ng-binding"><i class="fa fa-remove"></i>Bỏ lọc</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <button id="btnAdd" class="btn bg-purple margin">Thêm nguyên liệu</button>

                                <div class="col-md-12">
                                    <span style="text-align:left" id="pagingInfo"></span>
                                </div>

                                <div class="table table-responsive">
                                    <table class="table table-responsive" style="padding-top:10px">
                                        <thead style="background-color:#ddd;text-align:center;vertical-align: middle;">
                                            <tr>
                                                <td><b>Tên nguyên liệu</b></td>
                                                <td><b>Mô tả</b></td>
                                                <td><b>Đơn vị</b></td>
                                                <td><b>Số lượng</b></td>
                                                <td><b>Mô tả</b></td>
                                                <td><b>Thao tác</b></td>
                                            </tr>
                                        </thead>
                                        <tbody id="tblData"></tbody>
                                    </table>
                                    <div style="" id="pagination" class="pagination">
                                    </div>
                                </div>
                            </div>
                           

                        </div>


                       
                    </div>
                   

                </div>

            </div>
            <!-- ./box-body -->

        </div>


    </div>
</section>

<script id="data-template" type="x-tmpl-mustache">
    <tr style="text-align:center;vertical-align: middle;">
        <td>{{Name}}</td>
        <td>{{Description}}</td>
        <td>{{RawMaterialUnitName}}</td>
        <td style="width:10%"><span id="currentQty_{{Id}}">
    {{AutoTotalQtyFormat}}
</span>
        <input type="tel" class="form-control qtyInput"  style="display:none" data-id="{{Id}}" id="inputCurrentQty_{{Id}}" value="{{AutoTotalQty}}"/>
        
        </td>
        <td>
            <textarea class="form-control" style="display:none" id="inputNote_{{Id}}">

</textarea>
        </td>
        <td style="width:15%">
            <div id="mainControl_{{Id}}">
                <a class="btn btn-success btnUpdateInventory" data-id="{{Id}}"> Cập nhật tồn kho</a>
                <a class="btn btn-primary" href="/nguyen-lieu/{{Id}}"> Chi tiết</a>
            </div>

            <div id="saveQtyControl_{{Id}}" hidden>
                <a class="btn btn-success btnSaveQuantity" data-id="{{Id}}"> Cập nhật</a>
                <a class="btn btn-default btnCancel" id="btnCancel_{{Id}}" data-originalqty="{{AutoTotalQty}}" data-id="{{Id}}"> Hủy</a>
            </div>
            

        </td>
    </tr>
</script>


<script id="data-today-template" type="x-tmpl-mustache">
    <tr style="text-align:center;vertical-align: middle;">
        <td><b>{{Name}}</b></td>
        <td>{{StartDayAmount}}</td>
        <td>{{CurrentAmount}}</td>
        <td>
            {{OrderUsedAmount}}
        </td>
        <td>
            {{TotalOrder}}
        </td>
        <td>
            <a href="/nguyen-lieu/{{Id}}">Chi tiết </a>
        </td>
    </tr>
    
</script>

@{
    Html.RenderPartial("_PartialCreateUpdateRawMaterial");
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.12.0/jquery.mask.min.js"></script>
<script>
    var homeconfig = {
        pageSize: 10,
        pageIndex: 1,
        allShops: [],
    };

    var rawMaterialController = {

        run: function () {
            homeconfig.allShops = allShop;
            homeconfig.shopId = allShop[0].Id;
            rawMaterialController.loadData(homeconfig.shopId);
            rawMaterialController.getTodayReport(homeconfig.shopId);
            rawMaterialController.registerEvent();
            rawMaterialController.loadRawMaterialUnits();
        },
        // register event for elements
        registerEvent: function () {
            // event for search button,

            $('#btnAdd').off('click').on('click', function () {
                rawMaterialController.resetParitalView();
                var shop = homeconfig.allShops.filter(x => x.Id === homeconfig.shopId);
                var title = shop[0].Name + ' -  Tạo mới nguyên liệu';
                $('#lblTitle').text(title);
                $('#addOrUpdateRmModal').modal('show');
            });

            $('.shop-tab').off('click').on('click', function () {
                var dataId = $(this).data('id');
                homeconfig.shopId = dataId;
                homeconfig.pageIndex = 1;
                rawMaterialController.loadData(homeconfig.shopId, true);
                rawMaterialController.getTodayReport(homeconfig.shopId);
            });

            $('#navRmList').off('click').on('click', function () {
                $('#rmList').show();
                $('#todayReport').hide();
            });

            $('#navTodayReport').off('click').on('click', function () {
                $('#rmList').hide();
                $('#todayReport').show();
                rawMaterialController.getTodayReport(homeconfig.shopId);
            });

            

            $('#txtKeySearch').off('keypress').on('keypress', function (e) {
                if (e.keyCode === 13) {
                    homeconfig.pageIndex = 1;
                    rawMaterialController.loadData(homeconfig.shopId, true);
                }
            });

            $('#btnSearch').off('click').on('click', function () {
                homeconfig.pageIndex = 1;
                rawMaterialController.loadData(homeconfig.shopId, true);
            });

            $('#btnResetFilter').off('click').on('click', function () {
                $('#txtKeySearch').val('');
                homeconfig.pageIndex = 1;
                rawMaterialController.loadData(homeconfig.shopId, true);
            });

            $('.btnDetail').off('click').on('click', function () {
                var id = $(this).data('id');
                $('#detail_' + id).show();
            });

            $('.btnCloseDetail').off('click').on('click', function () {
                var id = $(this).data('id');
                $('#detail_' + id).hide();
            });


            $('#btnSave').off('click').on('click', function () {
                var data = {
                    Id: parseInt($('#txtHiddenId').val()),
                    Name: $('#txtName').val(),
                    RawMaterialUnitId: $('#ddlRawMaterialUnits').val(),
                    ShopId: homeconfig.shopId,
                    Description: $('#txtDescription').val(),
                };
                rawMaterialController.saveData(data);
            });

            $('.qtyInput').mask('000.000.000.000.000', { reverse: true });
            $('.btnUpdateInventory').off('click').on('click', function () {
                var id = $(this).data('id');
                $('#currentQty_' + id).hide();
                $('#inputCurrentQty_' + id).show();

                $('#inputNote_' + id).show();

                $('#saveQtyControl_' + id).show();
                $('#mainControl_' + id).hide();
            });

            $('.btnCancel').off('click').on('click', function () {
                var id = $(this).data('id');
                $('#currentQty_' + id).val($(this).data('originalqty'))
                $('#currentQty_' + id).show();
                $('#inputCurrentQty_' + id).hide();
                $('#inputNote_' + id).hide();

                $('#saveQtyControl_' + id).hide();
                $('#mainControl_' + id).show();
            });

            $('.btnSaveQuantity').off('click').on('click', function () {
                var id = $(this).data('id');
                var quantity = $('#inputCurrentQty_' + id).val().split('.').join('');
                var note = $('#inputNote_' + id).val();
                rawMaterialController.updateRawMaterialQty(id, quantity,note);
            });


        },
        formatMoney: function (value) {
            var ressult = accounting.formatMoney(value, "", 0, ".", ","); // €4.999,99
            return ressult;
        },
        loadData: function (shopId, changePageSize) {
            homeconfig.allCategories = [];
            $.ajax({
                url: '/RawMaterial/GetAllAsync',
                type: 'get',
                dataType: 'json',
                data: {
                    shopId: shopId, pageSize: homeconfig.pageSize, pageIndex: homeconfig.pageIndex,
                    keyword: $('#txtKeySearch').val()
                },
                success: function (res) {
                    if (res.status) {

                        var paginInfo = "";
                        if (res.data.Items.length > 0) {
                            var begin = (homeconfig.pageIndex - 1) * homeconfig.pageSize + 1;
                            paginInfo = begin + " - " + (begin + res.data.Items.length - 1) + " trên " + res.data.TotalRows + " đơn hàng";
                        }

                        $('#pagingInfo').html(paginInfo);
                        var data = res.data;
                        var html = '';
                        var template = $('#data-template').html();
                        $.each(data.Items, function (i, item) {
                            html += Mustache.render(template, {
                                Id: item.Id,
                                Name: item.Name,
                                Description: item.Description,
                                RawMaterialUnitName: item.RawMaterialUnitName,
                                AutoTotalQty: item.AutoTotalQty,
                                AutoTotalQtyFormat: rawMaterialController.formatMoney(item.AutoTotalQty)
                            });

                        });
                        $('#tblData').html(html);
                        try {
                            rawMaterialController.paging(data.TotalRows, function () {
                                rawMaterialController.loadData(shopId);
                            }, changePageSize);
                        } catch (e) {

                        }

                        rawMaterialController.registerEvent();
                    }
                }
            });

        },

        resetParitalView: function () {
            $('#txtHiddenId').val(0);
            $('#txtName').val('');
            $('#txtDescription').val('');
        },
        loadDetail: function (row) {
            $('#txtHiddenId').val(row.Id);
            $('#txtName').val(row.Name.trim());
        },
        paging: function (totalRow, callback, changePageSize) {
            var totalPage = Math.ceil(totalRow / homeconfig.pageSize);
            //Unbind pagination if it existed or click change pagesize
            if ($('#pagination a').length === 0 || changePageSize === true) {
                $('#pagination').empty();
                $('#pagination').removeData("twbs-pagination");
                $('#pagination').unbind("page");
            }
            $('#pagination').twbsPagination({
                totalPages: totalPage,
                first: "Đầu",
                next: "Tiếp",
                last: "Cuối",
                prev: "Trước",
                visiblePages: 10,
                onPageClick: function (event, page) {
                    homeconfig.pageIndex = page;
                    setTimeout(callback, 200);
                }
            });
        },
        loadRawMaterialUnits: function () {
            $.ajax({
                url: '/rawmaterial/GetAllRmUnitsAsync',
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    if (res.status) {
                        var data = res.data;
                        var html = '';
                        $.each(data, function (i, item) {
                            html += '<option value="' + item.Id + '">' + item.Name + '</option>';
                        });
                        $('#ddlRawMaterialUnits').html(html);
                    }
                }
            });
        },
        saveData: function (data) {
            if (data.Id === 0) {
                $.ajax({
                    url: '/rawmaterial/CreateAsync',
                    type: 'post',
                    dataType: 'json',
                    data: { model: data },
                    success: function (res) {
                        if (res.status) {
                            $('#addOrUpdateRmModal').modal('hide');
                            toastr.success(res.message, "Kết quả");
                            rawMaterialController.loadData(homeconfig.shopId);

                        } else {
                            toastr.error(res.errorMessage, "Lỗi");
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/category/updatecategory',
                    type: 'post',
                    dataType: 'json',
                    data: { model: data },
                    success: function (res) {
                        if (res.status) {
                            $('#addOrUpdateCateogoryModal').modal('hide');
                            toastr.success(res.message, "Kết quả");
                            categoryController.loadData(homeconfig.shopId);
                        } else {
                            toastr.error(res.errorMessage, "Lỗi");
                        }
                    }
                })
            }
        },
        updateRawMaterialQty(id, qty,note) {
            $.ajax({
                url: '/rawmaterial/updateqty',
                dataType: 'json',
                type: 'post',
                data: {
                    model: { Id: id, Qty: qty , Note: note }
                },
                success: function (res) {
                    if (res.status) {
                        toastr.success("Cập nhật tồn kho thành công.");
                        $('#currentQty_' + id).data('originalqty', qty);
                        $('#currentQty_' + id).text(rawMaterialController.formatMoney(qty));
                        $('#btnCancel_' + id).click();
                        
                    } else {
                        toastr.error("Cập nhật tồn kho không thành công.")
                    }
                }
            })
        },
        getTodayReport: function (shopId) {
            $.ajax({
                url: '/RawMaterial/GetTodayReport',
                type: 'get',
                data: { shopId: shopId },
                success: function (res) {
                    if (res.status) {
                       var data = res.data;
                        var html = '';
                        var template = $('#data-today-template').html();
                        $.each(data, function (i, item) {
                            html += Mustache.render(template, {
                                Id: item.RmId,
                                Name: item.RmName,
                                TotalOrder: item.TotalOrder,
                                StartDayAmount: item.StartDayAmount,
                                CurrentAmount: item.CurrentAmount,
                                OrderUsedAmount: item.OrderUsedAmount
                            });

                        });
                        $('#tblTodayReport').html(html);
                    }
                    else {
                        toastr.error("Lỗi xảy ra...");
                    }
                }
            })
        }
    };
    rawMaterialController.run();


</script>